// ***********************
// GLOBAL WP STYLES
// ***********************
header.entry-header{
	border-bottom: none !important;
}

header.entry-header h2.entry-title{
	font-family: 'Milkshake' !important;
	color: black !important;
}

// ***********************
// GLOBAL WOO STYLES
// ***********************
.woocommerce-message{
	border-top-color: orange !important;
	a{
		background: orange !important;
	}
}
